*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common  Design*/
.container{
    max-width: 1500px;
    margin: 0 auto;
}

.hidden{
    display: none;
}


/* Task One Section */
.section-1-parent{
    padding: 20px 5%;
    height: 100vh;
}
.task-1-section{
    display: grid;
    grid-template-columns: 30% auto;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 100%;
}
.task-1-section :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.task-1-section :first-child p{
    background: #E3E3E3;
    height: 90%;
    width: 95%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 2em;
}

.task-1-section :last-child{
    display: flex;
    justify-content: center;
    align-items: center;

}
.task-1-section :last-child p{
    background: #FFFFEB;
    width: 95%;
    height: 90%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 2em;
}


/* Task two section */

.section-2-parent{
    height: 90vh;
    margin: 5vh 3vw;
}
.task-2-section{
    height: 100%;
    /* border: 1px solid green; */
    padding: 2%;
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}
.task-2-section>div:nth-child(1){
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    padding: 2vh 2vw;
    font-weight: 700;
    background: rgb(241, 18, 56);
    grid-row: span 2;
}
.task-2-section>div:nth-child(2){
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    padding: 2vh 2vw;
    font-weight: 700;
    background: rgb(252, 183, 34);
    grid-column: span 2;
}
.task-2-section>div:nth-child(3){
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    padding: 2vh 2vw;
    font-weight: 700;
    background: rgb(152, 18, 241);
}
.task-2-section>div:nth-child(4){
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    padding: 2vh 2vw;
    font-weight: 700;
    background: #c0c0c0;
}

/* Section 3 is designed here */

.section-3-parent{
    margin: 5vh 5vw;
}
.task-3-section img{
    width: 100%;
    height: 99vh;
    border-radius: 10px;
}



@media screen and (max-width:576px){
    .task-1-section{
        grid-template-columns: 1fr;
        grid-template-rows: 30% auto;
}
    .task-2-section{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .task-2-section>div:nth-child(n){
        grid-column: auto;
        grid-row: auto;
    }

    .task-3-section img{
        /* object-fit: scale-down; */
        width: 100%;
        height: 70vh;
    }
}

